# Node modules
node_modules

# Dependency lock files
package-lock.json
yarn.lock

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Coverage directory
coverage

# IDE settings
.idea
.vscode

# Editor specific files
*.sublime-workspace

# OS specific files
.DS_Store
